.LoadingTodo-container {
display: grid;
grid-template-columns: auto 1fr auto;
justify-content: space-between;
align-items: center;
background: linear-gradient(90deg, rgba(250,250,250,1), rgb(200,199,199));
margin: 12px;
border-radius: 10px;
padding: 0 20px;
border: 1px solid #9f9f9f;
background-size: 400% 400%;
animation: loadingAnimation 3s ease-in-out infinite;
}
@keyframes loadingAnimation{
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
.LoadingTodo-text {
justify-self: left;
margin: 10px 20px 10px 20px;
text-align: left;
}