.TodoSearch {
    margin: 10px 60px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.TodoSearch input{
    border: 2px solid #eee;
    padding: 5px 10px;
    font-size: 20px;
    line-height: 30px;
    outline: 0;
    display: block;
    width: 100%;
    border-radius: 5px;
}
.TodoSearch-icon {
    position: absolute;
    right: 15px;
    /* top: 0; */
    font-size: 25px;
    /* color: #4b00ff; */
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
}